body
{
    background-color: cornsilk;
}
h1 a,h2 a{
    color: teal;
    padding: 25px;
    font-family: cursive;
}
h3,p{
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px
}